#middle-container {
    position: relative;
    /*background-color: mediumorchid;*/
    border: 1px solid lightblue;
    left: 5%;
    width: 90%;
    overflow: hidden;
}

.rectangle-container {
    width: 33.33%;
    height: auto;
    float: left;
    /*background-color: lightcoral;*/
    border: 1px solid black;
    text-align: center;
}

.rectangle {
    background-color: darkturquoise;
    width: 240px;
    height: 320px;
    margin: auto;
}

.app-name {}

.download-page {}

.version-info {}

.package-info {}

.button-edit {}

.button-preview {}

.button-delete {}