<!DOCTYPE html>
<html lang="en">

<head>
    <title>style box</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/stylebox.css" rel="stylesheet">
</head>

<body bgcolor="gray">
    <div class="container">

    </div>
    <div class="outter">
        <div id="inner00" class="size">

        </div>
        <div id="inner01" class="size">

        </div>
        <div id="inner02" class="size">

        </div>
    </div>
    <div class="outter">
        <div id="inner10" class="size">

        </div>
        <div id="inner11" class="size">

        </div>
        <div id="inner12" class="size">

        </div>
    </div>
    <div class="outter">
        <div id="inner20" class="size">

        </div>
        <div id="inner21" class="size">

        </div>
        <div id="inner22" class="size">

        </div>
    </div>
</body>

</html>