<!DOCTYPE html>
<html>

<head>
    <title>App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/util/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/util/request.js"></script>
    <script type="text/javascript" src="/static/js/appversion.js"></script>
</head>

<body>
    <div id="container">



    </div>
</body>

<script>
    var appID = getParameterByName('appID');
    console.log(appID);
    loadAppVersions(appID);
    window.onload = function() {
        window.status = "Page is loaded";
        console.log('on load');
    }
</script>

</html>