<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/homepage.css" />
    <script type="text/javascript" src="/static/jszip.js"></script>
    <script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
    <title>主页</title>
</head>

<body>

    <div class="container">
        <div class="common">
            <div class="product" id="upload">
                <input type="file" name="file" id="file" class="inputfile" onchange="uploadIpa(this.files)">
                <label for="file">上传文件</label>
                </input>
            </div>
        </div>

        <div class="common">
            <div class="product" id="uploadPlist">
                <input type="file" name="file" id="file1" class="inputfile" onchange="uploadPlist(this.files)">
                <label for="file">上传Plist文件</label>
                </input>
            </div>
        </div>

        <div class="common">
            <div class="product" id="uploadAndroidFiles">
                <input type="file" name="file" id="file2" class="inputfile" onchange="uploadAndroidFiles(this.files)">
                <label for="file">上传xml arsc</label>
                </input>
            </div>
        </div>

        <div class="common">
            <div class="product">

            </div>
        </div>

        <div class="common">
            <div class="product">

            </div>
        </div>

        <div class="common">
            <div class="product">

            </div>
        </div>

        <div class="common">
            <div class="product">

            </div>
        </div>
    </div>

</body>

</html>