<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">.-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/homepage.css" />
    <script type="text/javascript" src="/static/js/util/jszip.js"></script>
    <script type="text/javascript" src="/static/js/util/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/util/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/util/bootbox.min.js"></script>
    <script type="text/javascript" src="/static/js/util/request.js"></script>
    <script type="text/javascript" src="/static/js/util/loading.js"></script>
    <script type="text/javascript" src="/static/js/homepage.js"></script>
    <title>主页</title>
</head>

<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
                <a class="navbar-brand" href="#">: )</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="#">: )</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>个人信息</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Middle Container-->
    <div id="middle-container">

        <div class="rectangle-container">
            <div class="rectangle upload">
                <input type="file" accept=".apk, .ipa" onchange="handleFiles(this.files)">
            </div>
        </div>

        <!--<div class="rectangle-container">
            <div class="rectangle">
                <p>app name</p>
                <p>app download address</p>
                <p>version and build</p>
                <p>pageage type</p>
                <button type="">edit</button>
                <button type="">preview</button>
                <button type="">delete</button>
            </div>
        </div>-->

    </div>

</body>

<script>
    loadApps();
    window.onload = function() {
        window.status = "Page is loaded";
        console.log('on load');
    }
</script>

</html>