<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/login.css" rel="stylesheet">
    <script type="text/javascript" src="/static/app.js"></script>
</head>

<body>
     <form id="loginform" method="post">
        <input id="username" type="text" name="username" placeholder="please input your username" />
        <br />
        <input id="password" type="password" name="password" placeholder="please input your password" />
        <br />
        <input class="submit" type="submit" onclick="login()" value="登录" />
    </form>
</body>

</html>